body{
    font-family: 'Fauna One', serif;
    font-size: 20px;
    margin: 0;
  
}
h1{
    color: rgb(158, 105, 255);
}
.red-color{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-color: rgb(243, 182, 67);
    padding: 10px 40px;
    border-radius: 5px;
    color: lightslategray;
}
section{
    display: flex;
    margin-bottom: 100px;
    padding: 10px 40px 200px;
}
.border-slice{
    border-left: 3px solid;
}
img{
    width: 80%;
    height: auto;
}
h2{
    text-align: center;
 }
.green-color{
    color: lightgreen;
}
.my-mission{
    display: flex;
    margin: 0%;
}
.half-width{
    width: 50%;
    padding: 2%;
    margin-top: 0%;
}
#miss-first{
    border-radius: 10px;
    background-color: rgb(147, 224, 147);  
}
#viss-sec{
    border-radius: 10px;
    background-color: moccasin;
}
#goal-third{
    border-radius: 10px;
    background-color: rgb(230, 171, 161);
}
.sect-cod{
    display: flex;
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 22%;
    background-position-y: 50px;
}
.sect-cod img{
    width: 70%;
    padding-left: 18%;
}
.build-corona{
    text-align: center;
    color: mediumturquoise;
}
.biuld-corona-appli{
    display: flex;
    margin-top: 10px;
    padding-bottom: 5%;
    padding-left: 10%;
 
}
.biuld-corona-appli img{
    width: 70%;
    margin-left: 18px;
}